.lmj-plant-item-cover {
	height: 200px;
	width: 200px;
	border-radius: 20px;
	object-fit: cover;
	
	background-color: #5a0a4947;
}

.lmj-plant-item {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
	position: relative;
	background-color: #0b67e0f1;
	border-radius: 20px;
	box-shadow: rgba(147, 147, 174, 0.25) 0px 50px 100px -20px, rgba(135, 129, 129, 0.3) 0px 30px 60px -30px, rgba(159, 164, 170, 0.35) 0px -2px 6px 0px inset;
}

.lmj-plant-item-price {
	position: absolute;
	border-radius: 20px 20px 20px 0;
	background-color: #31b472;
	color: white;
	padding: 15px;
	right: 0;
	top: 0;
	font-weight: 500;
}
